@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

html {


  /* Fonts */
  --font-primary: 'Mulish', sans-serif;

  /* Colours */
  --clr-dark: black;
  --clr-light: grey;
  --clr-accent: white;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
